@charset "UTF-8";

@background: #DDD;
@color: #333;
@font: 14px Arial, Verdana, Helvetica;


//-- Base Styles -----
body {
  background: @background;
  margin: 0;
  padding: 0;
  color: @color;
  font: @font;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: @color;
  border-bottom: 1px dotted #FFF;
}

h3 {
  margin: 0 0 20px 0;
  border-bottom: 1px solid green;
}

.rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.clear {
  clear: both;
}

header, div.body {
  width: 75%;
  min-width: 800px;
  margin: 0 auto;
}


//-- Header Styles -----
header {
  margin-top: 20px;
  margin-bottom: 40px;
  height: 60px;

  div.main-menu {
    float: left;
    margin: 0 0 5px 20px;
  }

  div.user-menu {
    float: right;
    margin: 0 20px 5px 0;
  }

  .site-title {
    padding: 10px 5px 10px 18px;
    border: 1px solid #FFF;
    background: #EEE;
    clear: both;

    h2 {
      margin: 0;
      padding: 0;
    }
  }
}


//-- Body Styles -----
div.body {
  min-height: 400px;
  margin: 0 auto;

  .content-wrapper {
    margin: 0 20px;
  }

  .record-menu {
    float: right;

    a {
      font-weight: normal;
      font-size: 14px;
    }

    a:hover {
      border: 0;
    }
  }

  .error-message {
    color: #FF0000;
  }

  .main-content {
    margin-left: 210px;
  }
}


//-- Footer Styles -----
footer {
  margin-top: 50px;
  background: #666;
  min-height: 200px;
  border-top: 1px solid #FFF;

  .debug {
    margin: 30px;
    padding: 10px;
    min-height: 40px;
    color: #EEE;
    background: #999;
  }
}