{% extends 'layouts/main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h3>
  Notepad
  <span class="record-menu">
    <a href="{% url 'notepad_new' %}">Create New Note</a>
  </span>
</h3>
{% if object_list.count > 0 %}
  <form id="search_form" name="search_form" method="get" class="search-form">
    {% csrf_token %}
    {# <a href="/notepad">Clear</a> #}
    <input id="search_keyword" name="kw" type="text" placeholder="Search Note" value="{{ request.GET.kw }}">
  </form>
  <div class="records-list clear">
  {% for note in object_list %}
    <div class="record-row clear">
      <a href="{% url 'notepad_show_id' note.id %}">{{ note.name }}</a>
      <span class="record-controls">
        <a href="{% url 'notepad_edit' note.id %}">Edit</a> &middot;
        <a href="javascript:void()" onclick="delete_row('{% url 'notepad_delete' note.id %}')">Delete</a>
      </span>
    </div>
  {% endfor %}
  </div>
  <form id="delete_form" name="delete_form" action="" method="post" class="delete-form">
    {% csrf_token %}
  </form>
  <script type="text/javascript">
    function delete_row(v) {
      if ( confirm('Are you sure you want to delete this record?') ) {
        $('#delete_form').attr('action', v);
        $('#delete_form').submit();
      }
    }
  </script>
{% else %}
  <div>No notes found</div>
{% endif %}

{% endblock %}