{% load compress %}
{% load less %}
{% load coffeescript %}
{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title>PDA {% block page_title %}{% endblock %}</title>
{% compress css %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}{% less "css/less/styles.less" %}">
<link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}uni_form/default.uni-form.css" type="text/css">
{% block css %}
{% endblock %}
{% endcompress %}
</head>

<body>
<div id="top-bar">

</div>
<header>
<div class="main-menu">
  <a href="/">Home</a>&nbsp;&middot;
  <a href="{% url 'planner_main' %}">Planner</a>&nbsp;&middot;
  <a href="{% url 'tasks_main' %}">Tasks</a>&nbsp;&middot;
  <a href="{% url 'notepad_main' %}">Notepad</a>&nbsp;&middot;
  <a href="{% url 'tagger_main' %}">Tags</a>
</div>
</header>

<div class="body">
  {% block content %}{% endblock %}<br>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
{% compress js %}
<script src="{{ STATIC_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}{% coffeescript "js/coffee/common.coffee" %}"></script>
{% block js %}
{% endblock %}
{% endcompress %}

<footer>

</footer>
<div id="debug">

</div>
</body>
</html>