{% load compress %}{% load less %}{% load coffeescript %}{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title>PDA {% block page_title %}{% endblock %}</title>
{% compress css %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}{% less "css/less/styles.less" %}">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}uni_form/default.uni-form.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui/jquery-ui-timepicker-addon.css">
{% block css %}{% endblock %}
{% endcompress %}
<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
</head>

<body>
<div id="top-bar">

</div>
<header>
<div class="main-menu">
  <a href="/">Home</a>&nbsp;&middot;
  <a href="{% url 'planner_main' %}">Planner</a>&nbsp;&middot;
  <a href="{% url 'tasks_main' %}">Tasks</a>&nbsp;&middot;
  <a href="{% url 'notepad_main' %}">Notepad</a>&nbsp;&middot;
  <a href="{% url 'tagger_main' %}">Tags</a>
</div>
<div class="user-menu">
  {% if request.user.id > 0 %}
    <a href="{% url 'user_settings' %}">Settings</a>&nbsp;&middot;
    <a href="{% url 'user_logout' %}">Logout</a>
  {% else %}
    <a href="{% url 'user_login' %}">Login</a> or
    <a href="{% url 'user_signup' %}">Signup</a>
  {% endif %}
</div>
<div class="rounded site-title"><h2>Django-PDA (Personal Digital Assistant)</h2></div>
</header>

<div class="body">
  <div class="content-wrapper">
    {% block content %}{% endblock %}<br>
  </div>
</div>

{% if messages %}
<div class="messages rounded shadowed">
  {% for message in messages %}
    <div>{{ message }}</div>
  {% endfor %}
</div>
{% endif %}

<footer>
  <div class="rounded debug">
    <div><strong>Debug</strong></div><br>
    request.user: {{ user.id }}<br>
  </div>
</footer>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}uni_form/uni-form.jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}{% coffeescript "js/coffee/pda.coffee" %}"></script>
{% block js %}{% endblock %}
{% endcompress %}
</body>
</html>