@charset "UTF-8";

body {
  background: #ccc;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  height: 60px;
}

div.body {
  width: 75%;
  min-width: 800px;
  min-height: 400px;
  margin: 0 auto;
}

footer {

}