- extends 'tasks/common.haml'
- load coffeescript
- load staticfiles
- load less

- block content
  %h3
    Task: {{ object.name }}
    %span.record-menu
      %a{'href':"{% url 'tasks_edit' object.id %}"} Edit
      &middot;
      %a{'href':"{% url 'tasks_main' %}"} Back to Tasks

  - if object.tags|length > 0
    .right-panel.rounded
      %div= object.description
      %br
      %div
        Status:
        - if object.completed
          Completed
        - else
          Open
      - if object.expected_at
        %div Due: {{ object.expected_at|date:"D d F Y h:i a" }}
      %br

      %p.show-tags
        - for tag in object.tags
          %span.rounded= tag

    .left-panel
      %h4 Items
      %form{'method':'post', 'class':'new-task-item-form', 'action':"{% url 'task_item_new' %}"}
        %input{'type':'hidden', 'name':'csrfmiddlewaretoken', 'class':'csrfmiddlewaretoken'}
        %input{'type':'hidden', 'name':'task_id', 'value':'{{ object.id }}'}
        New Task:
        %input{'type':'text', 'name':'name', 'id':'task_item_name', 'placeholder':'Add New Task Item' }
      .task-records-list
        - if task_items|length > 0
          - for item in task_items
            .record-row
              %a{'href':"{% url 'tasks_item_edit' fk=item.task_id pk=item.id %}"}= item.name
              %span.record-controls
                %a.delete-record{'href':"#", 'data':"{% url 'task_item_delete' item.id %}"} Delete
        - else
          .no-task No items listed

- block css
  %link{'type':"text/css", 'rel':"stylesheet", 'href':"{{ STATIC_URL }}{% less 'css/less/task.css.less' %}"}