- extends 'tasks/common.haml'
- load coffeescript
- load staticfiles
- load less

- block content
  %h3
    Task: {{ task.name }}
    %span.record-menu
      %a{'href':"{% url 'tasks_edit' task.id %}"} Edit
      &middot;
      %a{'href':"{% url 'tasks_main' %}"} Back to Tasks

  - if task.tags|length > 0
    .right-panel.rounded
      %div= task.description
      %br
      %div
        Status:
        - if task.completed
          Completed
        - else
          Open
      - if task.expected_at
        %div Due: {{ task.expected_at|date:"D d F Y h:i a" }}
      %br

      %p.show-tags
        - for tag in task.tags
          %span.rounded= tag

    .left-panel
      %h4 Items
      %div OBJECT ID: {{ task.id }}
      %form{'method':'post', 'class':'new-task-item-form' }
        %input{'type':'hidden', 'name':'csrfmiddlewaretoken', 'class':'csrfmiddlewaretoken'}
        New Task:
        %input{'type':'text', 'name':'name' }
      .task-records-list
        - if task_items|length > 0
          - for item in task_items
            .record-row= item.name
        - else
          .no-task No items listed

- block css
  %link{'type':"text/css", 'rel':"stylesheet", 'href':"{{ STATIC_URL }}{% less 'css/less/task.css.less' %}"}